  <div id="map" style='height:300px'>></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
    <script>
//       function initMap() {
//         var map = new google.maps.Map(document.getElementById('map'), {
//           zoom: 8,
//           center: {lat: 35.717, lng: 139.731}
//         });
//      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6HSY1wmio2qF3JPonfAiCFCK7sHjBZnw&callback=initMap&language=en-GB&region=JP"
    async defer>
    </script>

<button ng-click="ctrl.initMap()"></button>
<!-- <div class="col-md-8 col-sm-9 col-xs-12" ng-show="ctrl.mapShow"> -->
<!-- 	<div class="x_panel"> -->
<!-- 		<div class="x_title"> -->
<!-- 			<h2>Bar Graph</h2> -->
<!-- 			<ul class="nav navbar-right panel_toolbox"> -->
<!-- 				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> -->
<!-- 				</li> -->
<!-- 				<li class="dropdown"><a href="#" class="dropdown-toggle" -->
<!-- 					data-toggle="dropdown" role="button" aria-expanded="false"><i -->
<!-- 						class="fa fa-wrench"></i></a> -->
<!-- 					<ul class="dropdown-menu" role="menu"> -->
<!-- 						<li><a href="#">Settings 1</a></li> -->
<!-- 						<li><a href="#">Settings 2</a></li> -->
<!-- 					</ul></li> -->
<!-- 				<li><a class="close-link"><i class="fa fa-close"></i></a></li> -->
<!-- 			</ul> -->
<!-- 			<div class="clearfix"></div> -->
<!-- 		</div> -->
<!-- 		<div class="x_content"> -->
<!-- 			<div id="barChartContainer" -->
<!-- 				style="min-width: 500px; height: 450px; margin: 0 auto"></div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->