<!-- search page  -->
<!-- <ng-include src="'views/statistics/searchPage.html'"></ng-include> -->
<!-- </> search page -->




<!--      stats pages      -->
  
  
<!--   search nave bar -->
<div class="row" >
<div class="col-md-4 col-sm-3 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Bar Graph</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false"><i
						class="fa fa-wrench"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul></li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<div class="">
				<div class="well" style='background-color: #ffffff;'>

					<div class="row">
						<div class=" form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..." ng-model="ctrl.params.query">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"
										ng-click="ctrl.search()">Go!</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<input class="magic-radio" type="radio" checked="checked"
								name="radio" id="3" value="option" /> <label for="3"
								class="radio-inline"> platform source</label>
						</div>
						<div class="col-md-5">
							<input class="magic-radio" type="radio" name="radio" id="2"
								value="option" /> <label for="2" class="radio-inline">Twitter
								source </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="btn-group open">
								<button data-toggle="dropdown"
									class="btn btn-default dropdown-toggle" type="button"
									aria-expanded="true">
									Sentiment methode <span class="caret"></span>
								</button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="#">NTLTK</a></li>
									<li><a href="#">java</a></li>
									<li class="divider"></li>
									<li><a href="#">Other sentiment</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.input-group -->
				</div>


				<div class="well" style='background-color: #ffffff;'>
					<h4 class="">serche by date</h4>

					<div class="row">
						<div class="col-md-6">Start Year</div>
						<div class="col-md-6">

							<div class="input-group" moment-picker="ctrl.params.startYear"
								format="YYYY">
								<span class="input-group-addon"> <i
									class="octicon octicon-calendar"></i>
								</span> <input class="form-control" placeholder="Select a date"
									ng-model="ctrl.params.startYear"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">End Year</div>
						<div class="col-md-6">

							<div class="input-group" moment-picker="ctrl.params.endYear"
								format="YYYY">
								<span class="input-group-addon"> <i
									class="octicon octicon-calendar"></i>
								</span> <input class="form-control" placeholder="Select a date"
									ng-model="ctrl.params.endYear"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">month selection</div>
						<div class="col-md-6">

							<div class="input-group" moment-picker="ctrl.params.month"
								format="MM">
								<span class="input-group-addon"> <i
									class="octicon octicon-calendar"></i>
								</span> <input class="form-control" placeholder="Select a date"
									ng-model="ctrl.params.month"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>


					<!-- /.row -->
				</div>


			</div>




		</div>
	</div>
</div>







<div class="col-md-8 col-sm-9 col-xs-12" ng-show="ctrl.barChartShow">
	<div class="x_panel">
		<div class="x_title">
			<h2>Bar Graph</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false"><i
						class="fa fa-wrench"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul></li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div id="barChartContainer"
				style="min-width: 500px; height: 450px; margin: 0 auto"></div>
		</div>
	</div>
</div>
</div> <!-- end div for nave and barchart -->


<!--  div for line chart -->
<div class="row">

<div class="col-md-12 col-sm-12 col-xs-12" ng-show="ctrl.barChartShow">
	<div class="x_panel">
		<div class="x_title">
			<h2>line chart</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false"><i
						class="fa fa-wrench"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul></li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div id="lineChartContainer"
				style="min-width: 500px; height: 450px; margin: 0 auto"></div>
		</div>
	</div>
</div>

</div>  <!-- </>end line hchart div -->


<!--  div for showing setiments post -->
<div class="row">
</div>