
<div class="row">
<div class="col-lg-12">
                <h1 class="page-header">Two Column Portfolio
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Two Column Portfolio</li>
                </ol>
            </div>


            <div class="col-lg-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>serche by date </h4>
                    <div class="row">
                        <!-- /.col-lg-6 -->
                       
                            <div  class="col-md-4">
                                 <span>start Date</span>
                                 </div>
                                  <div class="col-md-6">
                                  
                                <div class="input-group"
     moment-picker="ctrl.datepicker"
     format="YYYY-MM-DD">
    <span class="input-group-addon">
        <i class="octicon octicon-calendar"></i>
    </span>
    <input class="form-control"
           placeholder="Select a date"
           ng-model="ctrl.datepicker"
           ng-model-options="{ updateOn: 'blur' }">
</div>
                                   </div>
                                
                        </div><hr>
                                <div class="row">
                        <!-- /.col-lg-6 -->
                       
                            <div  class=" col-md-4">
                                 <span>start Date</span>
                                 </div>
                                  <div class="col-md-6">
                                  
                                <div class="input-group"
     moment-picker="ctrl.datepicker"
     format="YYYY-MM-DD">
    <span class="input-group-addon">
        <i class="octicon octicon-calendar"></i>
    </span>
    <input class="form-control"
           placeholder="Select a date"
           ng-model="ctrl.datepicker"
           ng-model-options="{ updateOn: 'blur' }">
</div>
                                   </div>
                                
                        </div>      
                        <!-- /.col-lg-6 -->
                    
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>


<div class="col-lg-8">
<ul id="tabs" class="nav nav-tabs"  ng-init="tab = 1">
        <li class="active" ng-class="{active:tab===1}"><a href  ng-click="tab = 1">bar chart </a></li>
        <li class="" ng-class="{active:tab===2}"><a href  ng-click="tab = 2">Pie chart</a></li>
        <li class="" ng-class="{active:tab===3}"><a href  ng-click="tab = 3">bubble chart</a></li>
      
    </ul>
        </br></br>
               <div ng-show="tab === 1"> 
               
 <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"</canvas>

</div>
           
			<div ng-show="tab === 2">
			<canvas id="pie" class="chart chart-pie "
           chart-data="dataPie" chart-labels="labelsPie" chart-options="options">
          </canvas> </div>
			 
			<div ng-show="tab === 3"> 
			<canvas id="base" class="chart-bubble" chart-data="bubbleData" chart-series="bubbleSeries" >
            </canvas> 
			</div>





</div>

 </div>