<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Form Wizards <small>Sessions</small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<!-- Smart Wizard -->
			<p>This is a basic form wizard example that inherits the colors
				from the selected scheme.</p>
			<div id="wizard" class="form_wizard wizard_horizontal">
				<ul class="wizard_steps anchor">
					<li><a href="#step-1" class="selected" isdone="1" rel="1">
							<span class="step_no">1</span> <span class="step_descr">
								Step 1<br> <small>user Account</small>
						</span>
					</a></li>
					<li><a href="#step-2" class="disabled" isdone="0" rel="2">
							<span class="step_no">2</span> <span class="step_descr">
								Step 2<br> <small>user Profile</small>
						</span>
					</a></li>
					<li><a href="#step-3" class="disabled" isdone="0" rel="3">
							<span class="step_no">3</span> <span class="step_descr">
								Step 3<br> <small>Step 3 description</small>
						</span>
					</a></li>
				</ul>





				<div class="stepContainer" style="height: 281px;">
					<div id="step-1" class="content" style="display: block;">
						<form class="form-horizontal form-label-left" ng-submit="ctrl.register()" name="register" novalidate>

							<div class="form-group"
								ng-class="{ 'has-error': register.name.$invalid && register.name.$dirty }">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="name">Name:</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" required class="form-control"
										ng-model="ctrl.user.name" id="name" name="name">
								</div>
							</div>

							<div class="form-group"
								ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="ctrl.username">ctrl.username:</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" required class="form-control"
										ng-model="ctrl.user.username" id="ctrl.username"
										name="username">
								</div>
							</div>

							<div class="form-group"
								ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="pwd">Password:</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" required class="form-control" id="pwd"
										ng-model="ctrl.user.password" name="password">
								</div>
							</div>

							<div class="form-group"
								ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
								<label for="cpwd"
									class="control-label col-md-3 col-sm-3 col-xs-12">
									Confirm Password:</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" name="confirmPassword" required
										class="form-control" id="cpwd" ng-model="confirmPassword">
								</div>
							</div>

	<!-- 							<div class="alert alert-warning margin-top-5" -->
	<!-- 								ng-show="confirmPassword != ctrl.user.password ">Password -->
	<!-- 								Not Matching</div> -->



						</form>

					</div>
					<div id="step-2" class="content" style="display: none;">

						<div class="stepContainer" style="height: 281px;">
							<div id="step-1" class="content" style="display: block;">
								<form class="form-horizontal form-label-left">

									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div id="gender" class="btn-group" data-toggle="buttons">
												<label class="btn btn-default"
													data-toggle-class="btn-primary"
													data-toggle-passive-class="btn-default"> <input
													type="radio" name="gender" value="male"> &nbsp;
													Male &nbsp;
												</label> <label class="btn btn-primary"
													data-toggle-class="btn-primary"
													data-toggle-passive-class="btn-default"> <input
													type="radio" name="gender" value="female"> Female
												</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Date
											Of Birth <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="birthday"
												class="date-picker form-control col-md-7 col-xs-12"
												required="required" type="text">
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
					<div class="actionBar">
						<div class="msgBox">
							<div class="content"></div>
							<a href="#" class="close">X</a>
						</div>
						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
						<div class="loader">Loading</div>
						<button type="submit" class="btn btn-default"
							ng-disabled="register.$invalid || (confirmPassword != ctrl.user.password)">Register</button>
						<button class="btn btn-default" ui-sref="login">Login</button>
						<a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>
						<a href="#" class="buttonNext btn btn-success">Next</a> 
						<a href="#" class="buttonPrevious buttonDisabled btn btn-primary">Previous</a>
					</div>
				</div>
				<!-- End SmartWizard Content -->

			</div>
		</div>
	</div>
	</div>
	
	
	
	