<ng-include src="'naveBarleft.html'"></ng-include>
 
  <div class="col-md-6 col-sm-6 col-xs-6 ">
  <div class="row">
<div class="x_panel">
            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->

	
  <div class="media" >
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{post.user.username}}
                            <small>{{post.date}}</small>
                        </h4>
                      {{post.content}}                        
                    </div>
                </div>
                <hr>

<!--                 Date/Time -->
<!--                 <p><i class="fa fa-clock-o"></i> Posted on {{post.date}}</p> -->
                

<!--                 <hr> -->

<!--                 Preview Image -->
<!--                 <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->

<!--                 <hr> -->

<!--                 Post Content -->
<!--                 <p data-ng-blur>{{post.content}}</p> -->
                
<!--                 <hr> -->

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <form ng-submit="ctrl.submitComment()" name="myForm" class="form-group">
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea ng-model="ctrl.comment.text" class="form-control" rows="3"></textarea>
                        </div>
                         <button type="submit"  class="btn btn-primary " ng-disabled="myForm.$invalid || myForm.$pristine">Submit</button>
                    </form>
                    </div>
                    </form>
               
               

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
           

                <!-- Comment -->
                <div class="media" ng-repeat="c in post.comments ">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{c.user.username}}
                            <small>{{c.date}}</small>
                        </h4>
                      {{c.text}}                        
                    </div>
                </div>

           
 </div>
            <!-- Blog Sidebar Widgets Column -->
          
</div>
        </div>
        </div>
        <!-- /.row -->
      
        <ng-include src="'naveBarRight.html'"></ng-include>
      <div id="barChartContainer"
				style="min-width: 500px; height: 450px; margin: 0 auto"></div>
		
        